@using TaskManagement.Models
@model CorporateTaskModel
<!--begin::Chart widget 4-->
<div class="card card-flush overflow-hidden h-md-100">
    <!--begin::Header-->
    <div class="card-header py-5">
        <!--begin::Title-->
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold text-dark">Görevler Tablosu</span>
        </h3>
        <!--end::Title-->
    </div>
    <!--end::Header-->
    <!--begin::Card body-->
    <div style="height: 400px;" id="chartdiv"></div>
    <!--end::Card body-->
</div>
<!--end::Chart widget 4-->